@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), var(--font-noto-sans-jp), system-ui,
    sans-serif;
  --color-primary: #334155;
  --color-accent: #2563eb;
  --color-success: #059669;
  --color-warning: #f59e0b;
}

body {
  font-family: var(--font-sans);
}
